.hamburger-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    margin: 10px;
    /* padding: 25px; */
}

.logo-text {
    text-transform: uppercase;
    margin-right: 2rem;
    -webkit-text-stroke: 1px #ff914a;
    /* color: transparent; */
}

.logo-text small{
    /* -webkit-text-stroke: 1px #ff914a; */
    /* color: #ff914a; */
    font-size: 2rem;
    color: #ff914a;
}

/* .hamburger {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* .bar {
    display: block;
    position: absolute;
    background-color: #000;
    width: 80%;
    height: 2px;
    transition: .5s;
} */

/* .bar:nth-child(1) {
    margin-bottom: 50%;
} */

/* .bar:nth-child(3) {
    margin-top: 50%;
} */

/* to do:
- hamburger menu animation
- full width hamburger dropdown
*/