.landing {
    width: 100%;
}

/* .landing__img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    filter:grayscale(30%);
    opacity: .9;
    margin-bottom: 10px;
} */

.landing__title {
    margin: 0px 1rem;
    text-align: center;
    color: #444;
}

.landing__text {
    padding: .5rem;
    margin: 0 1rem;
    font-style: italic;
    text-align: left;
    color: #777;
    line-height: 1.6;
}

.landing__underline {
    width: 90%;
    margin: 10px auto;
    display: block;
    height: 1px;
    background-color: #ff914a;
}

@media screen and (min-width: 401px) {
    .landing {
        width: 50%;
    }

    .landing__text {
        width: 80%;
        text-align: center;
    }
}